* {
  padding: 0;
  margin: 0;
  font-family: "Verdana Neue", Geneva, Tahoma, sans-serif;
}

.cabecera {
  background-color: #21232a;
  color: white;
  height: 5rem;
  text-align: center;
  line-height: 5rem;
}

.container {
  padding: 2.5rem;
}

img {
  height: 7rem;
}

button {
  background-color: green;
  color: white;
}

input {
  font-size: 1.3rem;
  width: 99.99%;
  margin: 10px auto;
}

.container-grid {
  margin: 1rem 0;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0.5rem 0;
  overflow-y: hidden;
  overflow-x: auto;
}

.card {
  margin: 1rem;
}
